{% extends "master.html" %}

{% block content %}

<nav class="navbar sticky-top navbar-expand-lg bg-secondary">
    <div class="container-fluid">
        <a class="navbar-brand text-white" href="{% url 'courseDiscussionBoard' course.id %}">{{ course.name }}</a>             
        <ul class="navbar-nav justify-right">
            <li class="nav-item">
                <a class="nav-link active text-white" href="{% url 'courseDiscussionBoard' course.id  %}">Discussion Board</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active text-white" href="{% url 'courseLessons' course.id %}">Lessons</a> 
            </li>
            <li class="nav-item">
                <a class="nav-link active text-white" href="{% url 'courseQuizzes' course.id %}">Quizzes</a> 
            </li>
            {% if userGroup.isTeacher %}
                <li class="nav-item">
                    <a class="nav-link active text-white" href="{% url 'courseGrades' course.id %}">Grades</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link active text-white" href="{% url 'studentCourseGrades' course.id %}">Grades</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>

<div class="row justify-content-center">
    <div class="col-9">
        <h1 class="text-white m-3">{{ course.name }} Quizzes</h1>
    </div>
</div>

{% if userGroup.isTeacher %}
    <div class="row">
        <div class="d-flex justify-content-center">
            <a class="btn btn-success" href="{% url 'courseCreateQuiz' course.id %}">Create a Quiz</a>
        </div>
    </div>
{% endif %}

{% for quiz in quizzes %}

    <div class="row justify-content-center">
        <div class="col-9">
            <div class="card m-3">
                <div class="card-header bg-secondary text-white">
                    <h4 class="h4 text-white">{{ quiz.title }}</h4>
                </div>
                    {% if quiz.id in scoreQuizzes %}
                        {% for score in studentScores %}
                            {% if score.quiz == quiz %}
                                <div class="card-body bg-dark text-white">
                                    <div class="row">
                                        <div class="col">
                                            <h3>Current Grade: {{ score.score }}%</h3>
                                        </div>
                                        {% if userGroup.isTeacher %}
                                        <div class="col">
                                            <a class="btn btn-success" href="{% url 'quizResults' quiz.id %}">View Grades</a>
                                        </div>
                                        {% endif %}
                                    </div>
                                    {% for percentile in percentiles %}
                                        {% if percentile.quiz == quiz %}
                                            <div class="row">
                                                <h3>{{ percentile.percentile }}th Percentile</h3>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                {% if score.attemptNumber > 0 %}
                                    <div class="card-footer bg-dark text-white">
                                        <div class="row">
                                            <div class="col">
                                                <div class="d-flex justify-content-start">
                                                    <a class="btn btn-primary" href="{% url 'takeQuiz' quiz.id %}">Take Quiz</a>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="d-flex justify-content-end">
                                                    <h9>Attempts left: {{ score.attemptNumber }}</h9>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <div class="card-body bg-dark text-white">
                            <div class="row">
                                <div class="col">
                                    <h3>No Grade</h3>
                                </div>
                                {% if userGroup.isTeacher %}
                                <div class="col">
                                    <a class="btn btn-success" href="{% url 'quizResults' quiz.id %}">View Grades</a>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="card-footer bg-dark text-white">
                            <div class="row">
                                <div class="col">
                                    <div class="d-flex justify-content-start">
                                        <a class="btn btn-primary" href="{% url 'takeQuiz' quiz.id %}">Take Quiz</a>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="d-flex justify-content-end">
                                        <h9>Attempts left: 3</h9>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
            </div>
        </div>
    </div>

{% endfor %}

{% endblock %}