{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<!DOCTYPE html>
<html>
    <body class="bg-dark">
        
        <nav class="navbar sticky-top navbar-expand-lg bg-secondary">
            <div class="container-fluid">
                <a class="navbar-brand text-white" href="{% url 'home' %}">Digital Scholar</a> 
                <!-- <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-primary" type="submit">Search</button>
                </form>                   -->
                <ul class="navbar-nav justify-right">
                    <li class="nav-item">
                        <a class="nav-link active text-white" href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active text-white" href="{% url 'lessons' %}">Lessons</a> 
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active text-white" href="{% url 'courses' %}">Courses</a> 
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active text-white" href="{% url 'profile' %}">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active text-white" href="{% url 'logout' %}">Logout</a>
                    </li>
                </ul>
            </div>
        </nav>

        {% block content %}
        {% endblock %}

    </body>
</html>